---
import LocationArrowIcon from '../ui/icons/LocationArrowIcon.astro'

const schedule = [
  {
    image: '/images/locations.webp',
    title: 'Autobus',
    time: '16:45',
    location: 'Rita Sibarita Montecarmelo',
    locationLink: 'https://maps.app.goo.gl/d8vKgu6eSiQ6CGuG9',
  },
  {
    image: '/images/hands.webp',
    title: 'Comienza la boda',
    time: '17:30',
    location: 'Iglesia Santa María la Antigua',
    locationLink: 'https://maps.app.goo.gl/kD1AAbxCrvmczwyX9',
  },
  {
    image: '/images/table.webp',
    title: 'Celebración',
    time: '19:30',
    location: 'Jardines del Negralejo',
    locationLink: 'https://maps.app.goo.gl/gWKyKcXJcuqq9htu7',
  },
  {
    image: '/images/cocktails.webp',
    title: 'Comienza la fiesta',
    time: '23:00',
    location: 'Jardines del Negralejo',
    locationLink: 'https://maps.app.goo.gl/gWKyKcXJcuqq9htu7',
  },
]
---

<h2 class="font-gambarino mb-14 text-5xl">EL GRAN DÍA</h2>

{
  schedule.map(({ image, title, time, location, locationLink }) => (
    <div class="relative mb-20 flex flex-col items-center last:mb-0">
      <img src={image} alt="Boda de María y Sergio" class="h-[125px] w-[125px]" />
      <h3 class="font-gambarino mb-1 text-3xl">{time}</h3>
      <h4 class="font-gambarino mb-4 text-xl">{title}</h4>
      <a
        href={locationLink}
        target="_blank"
        rel="noopener noreferrer"
        class="group flex items-center justify-center gap-2"
      >
        <LocationArrowIcon class="transition-transform group-hover:animate-[sway-animation_0.2s_ease-in-out_5]" />
        {location}
      </a>
    </div>
  ))
}
