---
import ChevronIcon from '@/components/ui/icons/ChevronIcon.astro'

const { title, description, index } = Astro.props
---

<div class="mb-2.5 w-full max-w-3xl rounded-lg bg-white p-4">
  <button
    onclick={`toggleAccordion(${index})`}
    class="flex w-full cursor-pointer items-center justify-between"
  >
    <span class="truncate text-sm uppercase sm:text-base">{title}</span>
    <ChevronIcon
      id={`chevron-icon-${index}`}
      class="rotate-0 transform transition-transform duration-300"
    />
  </button>

  <div
    id={`content-${index}`}
    class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
  >
    <div class="pt-4 text-left text-sm" set:html={description} />
  </div>
</div>
